# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
          cache: true
          cache-dependency-path: "**/*.csproj"
      - name: Restore
        working-directory: src
        run: dotnet restore BugStore.sln

      - name: Build
        working-directory: src
        run: dotnet build BugStore.sln --configuration Debug --no-restore

      - name: Test
        working-directory: src
        run: dotnet test BugStore.sln --configuration Debug --no-build --verbosity normal
